.container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 6.4rem 0 0 10.4rem;
}

@media (max-width: 767px) {
  .container {
      display: grid;
      grid-template-columns: 1fr;
      margin: 6.4rem 2.4rem;
   }

   p {
    padding: 1.6rem;
   }
}