:root {
  --fc-primary: hsl(0, 0%, 100%);
  --fc-second: hsl(194, 97%, 31%);
  --fc-third: hsl(240, 9%, 89%);
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: var(--fc-primary)
}

nav {
  padding: 3.2rem 0 0 6rem;
  display: flex;
  align-items: center;
  gap: 4.2rem;
  font-size: 2.4rem;
}

nav a {
  color: var(--fc-third)
}

nav > a:nth-child(2) {
  font-weight: 700;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 12.5rem;
}